body, html{
	margin: 0;
	padding: 0;
	font-family: verdana;
}

header{
	background: #FF8920;
	box-sizing: border-box;
	color: #FFF;
	height: 90px;
	margin-bottom: 30px;
	padding: 20px;
	text-align: center;
	width: 100%;
}

#bodytabs{
	background: #D7D3D3;
	border-radius: 5px;
	padding: 10px;
}

#headertabs ul li{
	background: #D7D3D3;
	border-radius: 4px 4px 0 0;
	display: inline;
	list-style: none;
	margin-right: 20px;
	padding: 15px;
}

#headertabs ul li a{
	text-decoration: none;
}

.current a{
	color: #06C148;
	font-weight: bold;
	text-decoration: none;
}

.hint{
	border-radius: 4px;
	border: 1px solid #29EAAD;
	color: #2F3EFF;
	height: 20px;
}

.Ejercicios{
	margin: 10px 30px 50px 30px;
}

.toggle{
	background: #42A4E9;
	height: 30px;
	margin: 0 auto;
	padding: 2px;
	text-align: center;
	width: 97%;
}

.toggle a{
	text-decoration: none;
	color: #FFF;
}